<!DOCTYPE HTML>
<html>
	<head>
		<!-- <link rel="stylesheet" href="res/css/main.css">
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script> -->
		<title>RPi-DSignage - System Manager</title>
		<script type="text/javascript">
			// var myEvent = window.attachEvent || window.addEventListener;
			// var chkevent = window.attachEvent ? 'onbeforeunload' : 'beforeunload'; /// make IE7, IE8 compitable

			// myEvent(chkevent, function(e) { // For >=IE7, Chrome, Firefox
			//     var confirmationMessage = 'Are yasdfou sure to leave the page?';  // a space
			//     (e || window.event).returnValue = confirmationMessage;
			//     return confirmationMessage;
			// });
		</script>
	</head>
	<body>
		<div>
			<h1>Raspberry Pi Digital Signage</h1>
			<h2>System Manager - alpha version</h2>
			<h3>Basic Functions</h3>
			<ul>
				<li><a href="/start">start</a></li>
				<li><a href="/stop">stop</a> (error: not running) </li>
				<li><a href="/status">status</a></li>
				<br>
				<li><a href="/update">update</a></li>
				<li><a href="/restart">restart</a></li>
				<br>
				<li><a href="/shutdown">shutdown</a></li>
			</ul>
			<br>
			<br>
			<i><a href="/logout">logout</a></i>
		</div>
	</body>
</html>